<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All users</title>
</head>
<body>

<ul>
   <li th:each="user : ${users}">
       <a th:text="${user.getName()}" th:href="@{/users/{id}(id=${user.getId()})}">user</a>
   </li>
</ul>

<div>
    <a href="/users/new-user">
        <button>Create new user</button>
    </a>
</div>

</body>
</html>