<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
</head>
<body>

<h2 th:text="${user.getName()}">Value</h2>
<h2 th:text="${user.getId()}">Value</h2>

<div>
    <a href="/users">
        <button>To user list</button>
    </a>
    <br>
    <a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit user</a>
</div>

<br>
<hr>
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete">
</form>

</body>
</html>